<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:fragment="layout(content)">

<head>
<meta charset="UTF-8">

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<link rel="stylesheet" th:href="@{/css/style.css}" />
<link rel="stylesheet" th:href="@{/css/login.css}" />



<title th:text="${title}">base page</title>

</head>


<body>

	<nav class="navbar">


		<ul class="navbar_ul">
			<li class="navbar_li"><a th:href="@{/}">Home</a></li>
			<li class="navbar_li"><a th:href="@{/about}">About</a></li>
			<li class="navbar_li"><a th:href="@{/signin}">Reasearch
					Paper</a></li>
			<li class="navbar_li"><a th:href="@{/signin}">Login</a></li>
			<li class="navbar_li"><a th:href="@{/signup}">Sign Up</a></li>


		</ul>

	</nav>
	<section class="main_user_content">

		<div th:replace="${content}"></div>

	</section>



	<footer class="footer"> </footer>

	<script th:src="@{/js/script.js}"></script>
</body>

</html>