<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">

<head>
<meta charset="UTF-8">

<title>This is Change Password form</title>
</head>

<body>

	<section>

		<div class="forgot_email_form_container">
			<div class="forgot_email_form_container_"></div>
			<h3 class="">Your Change Password form</h3>

			

			<div>
				<form th:action="@{/change-password}" method="post">


					<div class="forgot_email_form_form_group">

						<input name="newpassword" type="password"
							placeholder="Enter your new Password  here" class="form_control" required />

					</div>

					<div class="container">
						<button class="btn btn-primary">Change Password</button>
					</div>


				</form>
			</div>
		</div>
	</section>




</body>

</html>