<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<meta charset="UTF-8">

	<title>This is login page</title>
</head>

<body>

	<section>

		<div class="home_container">
			<div class="home_card">


				<div class="home_row">

					<div class="home_col_1">
						<h1>Chandan Keshri</h1>
						<h4>Student</h4>
						<h5>IMSc in Mnc</h5>
						<p>
							I am a 4th-year student pursuing an Integrated Master of Science in Mathematics and
							Computing at Birla Institute of Technology, Ranchi. With a passion for Java and Spring Boot
							development, I am eager to explore the opportunities available in the software industry.
						</p>
					</div>
					<div class="home_col_2">

						<img class="home_image" th:src="@{/img/home.png}" alt="home page">

					</div>

				</div>


			</div>
		</div>
	</section>




</body>

</html>