<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/baseUser::layout(~{::section})">

<head>
<meta charset="UTF-8">

<title>This is User profile</title>
</head>

<body>

	<section class="all_article_container">

		<div class="allArticles_card_main">
			<div class="allArticles_card">
				<div class="allArticles_sub_card_row">
					<div class="allArticles_card_col_left">


						<h1>Title</h1>

						
					</div>

					<div class="allArticles_card_col_right">
						<div class="allArticles_card_col_right_total_citations">

							<h4>
								Cited by
							</h4>
						</div>
						<div class="allArticles_card_col_right_publicationDate">

							<p>Year</p>
						</div>

					</div>
				</div>

				<div class="allArticles_sub_card_row" th:each="a:${articles}">
					<div class="allArticles_card_col_left">

						<a target="_blank" th:href="${a.titleLink}">
							<span th:text="${a.title}"></span>
						</a>
						</h1>
						<h2 th:text="${a.authors}">S Padhi, S Pati</h2>
						<h3 th:text="${a.publisher}">Nonlinear Analysis: Theory, Methods & Applications</h3>

						<div class="allarticle_btn_read_more">
							<a class="btn btn-primary" href="#">Read More</a>
						</div>
					</div>

					<div class="allArticles_card_col_right">
						<div class="allArticles_card_col_right_total_citations">

							<h4 th:text="${a.totalCitations}">81</h4>
						</div>
						<div class="allArticles_card_col_right_publicationDate">

							<p th:text="${a.publicationDate}">2016</p>
						</div>

					</div>
				</div>



			</div>

		</div>
	</section>

</body>